<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Luliya Teferi</title>
    <link href="static/css/styles.css" rel="stylesheet">
    <link href="static/purp_diamond.ico" rel="icon">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap"
          rel="stylesheet">
</head>

<body>
    <div class="top-container">
        <img alt="cloud.img" class="top-cloud" src="static/css-images/CSS - My Site Images/cloud.png">
        <div class="text-box">
            <h1> I'm Luliya</h1>
            <h2 class="programmer">a pro<span class="grammer">grammer</span></h2>
        </div>
        <img alt="cloud.img" class="bottom-cloud" src="static/css-images/CSS - My Site Images/cloud.png">
        <img class="mountain-img" alt="mountain.img" src="static/css-images/CSS - My Site Images/mountain.png">
    </div>
    <hr>
    <div class="middle-container">
        <div class="profile">
            <img alt="profile-pic" class="profile-pic" src="static/css-images/CSS - My Site Images/profile-pic.png">
            <h2>Hello.</h2>
            <p>My name is Luliya Teferi. I am 15 years old and live in the United States. I am a programmer.</p>
        </div>
        <hr>
        <div class="skills">
            <h2>My Skills.</h2>
            <div class="skill-row">
                <img alt="python-logo" class="skill1-logo" src="static/css-images/CSS - My Site Images/python-logo.png">
                <h3>Python</h3>
                <p class="diamond1-info">Proficiency in Python Programming</p>
            </div>
            <div class="skill-row">
                <img alt="oracle-logo" class="skill2-logo" src="static/css-images/CSS - My Site Images/oracle-logo.png">
                <h3>Oracle SQL</h3>
                <p class="diamond2-info">Proficiency in Oracle SQL</p>
            </div>
            <div class="skill-row">
                <img alt="aws-logo" class="skill3-logo" src="static/css-images/CSS - My Site Images/aws-logo.png">
                <h3>AWS Cloud Computing</h3>
                <p class="diamond3-info">I am certified in AWS Cloud Computing</p>
            </div>
            <div class="skill-row">
                <img alt="html-logo" class="skill4-logo" src="static/css-images/CSS - My Site Images/html-logo.png">
                <h3>HTML</h3>
                <p class="diamond3-info">Conversant in HTML web development</p>
            </div>
            <div class="skill-row">
                <img alt="css-logo" class="skill5-logo" src="static/css-images/CSS - My Site Images/css-logo.png">
                <h3>CSS</h3>
                <p class="diamond3-info">Conversant in CSS styling</p>
            </div>
            <div class="skill-row">
                <img alt="flask-logo" class="skill6-logo" src="static/css-images/CSS - My Site Images/flask-logo.png">
                <h3>Flask</h3>
                <p class="diamond3-info">Conversant in Flask web development</p>
            </div>
        </div>
        <hr>
        <div class="contact-me">
            <h2>Get In Touch</h2>
            <h3>This is my contact information</h3>
            <p style="margin-bottom: 45px;">luliyateferi@gmail.com</p>
            <!--          <p class="number">238-234-2343</p>-->
    <!--        <a class="btn" href="mailto:luliyateferi@email.com">CONTACT ME</a>-->
            <a class="btn" href="{{ url_for('contact') }}">Contact Me</a>
        </div>
    </div>


    <div class="bottom-container">
        <!--      <a class="footer-link" href="https://www.google.com/">Google</a>-->
        <!--      <a class="footer-link" href="https://google.com/">Google</a>-->
        <!--      <a class="footer-link" href="https://www.google.com/">Google</a>-->
        <p class="footer-name">© 2022 Luliya Teferi.</p>
    </div>
</body>

</html>