<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Success!</title>
        <link href="static/css/styles.css" rel="stylesheet">
        <link href="static/purp_diamond.ico" rel="icon">
        <link href="https://fonts.googleapis.com" rel="preconnect">
        <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap"
          rel="stylesheet">
        <meta http-equiv="refresh" content="5;url={{ url_for('home') }}">

    </head>
    <body>

        <h3 class="success-msg">Your message has been sent</h3><br><br><br>

        <div>
            <p class="redirect-msg">Redirecting...</p>
            <img src="static/css-images/CSS - My Site Images/loading-img.gif" class="loading-img">
        </div>
    </body>
</html>